div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 50%;
    margin: auto;
    height: 300px;
    padding: 20px;
    display: grid;
    align-items: center;
    border-radius: 10px;
  }
  
  .order-img{
      width: 130px;
      text-align: center;
      margin-top: -10px !important;
  }